
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.hero {
    background-color: #1f2937;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}

.logo {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 100px;
    min-height: 300px;
}

#thrive {
    max-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 400px;
    margin-right: 30px;
    height: 100%;

}

.slogan {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
}

.slogan-text {
    margin-bottom: 10px;
}

.btn-1 {
    background-color: #3882F6;
    color:#fff;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    width: 100px;   
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.boxes h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.squares {
    display: flex;
    width: 100%;
    padding: 0 100px;
    justify-content: center;


    
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 0 30px;
    
    
}

.boximg {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    
}
/* COME BACK AND CHECK HOW TO EDIT CAPTIONS*/
/* what does this tag do? */
caption {
    font-size: .5rem;
    border: 1px solid black;
}

.cap {

    font-weight: lighter;
    font-size: small;
    margin-bottom: 40px;

    /* outline: auto; */
}

.quotes {
    background-color: #E5E7EB;
    padding: 70px 100px;
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
}

.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 15px;
}

.signup {
    margin: 30px 100px;
    padding:  15px 60px;
    background-color: #3882F6;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signtext {
    margin-right: 30px;
}

.cta {
    font-weight: bold;
}

.cta-text {
    font-weight: lighter;
}

.btn-2 {
    border: 1px solid #fff;
    background-color: #3882F6;
    color:#fff;
    padding: 10px 30px;
    flex-shrink: 0;
    border-radius: 10px;
}

.copyright {
    background-color: #1f2937;
    color: #fff;
    font-weight: lighter;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;


}